html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

._id {
  display: none;
}

.box {
  margin: 0.25rem 0;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

#portfolio h2 {
  text-align: center;
  margin: 0;
  padding-bottom: 0.75rem;
}

table {
  border-collapse: collapse;
}

thead {
  font-weight: bold;
}

thead, tbody {
  border: 1px solid black;
}

td {
  padding: 0.25rem 0.75rem;
}

tr:nth-child(even) {
  background-color: rgba(192, 192, 192, 0.5);
}

#new-share {
  display: grid;
  grid-template-columns: min-content 6rem;
}

#new-share input[type=submit] {
  grid-column: span 2;
} 

#new-share label{
  white-space: nowrap;
  margin: 0.25rem 0.75rem;
}

table {
  width: 100%;
}

#company-search-results tbody {
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

footer {
  display: flex;
    padding: 10px 5px;
    background-color: #3232B5;
    color: #fff;
}

footer p {
  flex: 1;
  margin: 0;
}

#portfolio .purchasePrice::before, #portfolio .currentPrice::before {
  content: '$ ';
}

header {
  display: flex;
  height: 120px;
  margin-top: 25px;
  /* margin-bottom: 10px; */
}

.logo {
  margin-right: 2%;
  margin-left: 2%;
  /* margin-bottom: 2%; */
}

#company-search {
  margin-bottom: 1%;
}

#new-share {
  border: solid #3232B5;
  padding: 1rem;;
}

main {
  flex-direction: column;
  display: flex;
}

#buy-share {
  flex-direction: row;
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
}

.chart {
  width: 100%;
  min-height: 500px;
}




